a { 
    color: whitesmoke;
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
    text-decoration: none;
    

    &:hover {
      animation: slidein .4s forwards linear;
      transition: all 5s;

      @keyframes slidein {
        0% {

        }
        50% {
          color:#5b9ea8;
          background-color: #949697;

        }

        100% {
          color: $primary-color;
          text-decoration: underline;
          padding: 2px 5px;
          background-color: $dark-color
        }
      }
    }
}