@media (max-width: 1024px) {
  #intro {
    padding: 6rem 1rem;

    i{
      font-size: 4rem;
    }
    .icons {
      margin-left: 35%;
    }
  }
  h1,
h2,
h3 {

  text-align: center;
  justify-content: center;
  align-items: center;
  &.lg-heading {
    font-size: 9rem;
  
  }

  &.sm-heading {
    font-size: 4rem;
  }
}    
  }

 


@media (max-width: 768px) {
  #intro {
    padding: 6rem 1rem;

    i{
      font-size: 2rem;
    }
    .icons {
      margin-left: 0 auto;
    
    }
  }
  h1,
h2,
h3 {

  text-align: center;
  justify-content: center;
  align-items: center;
  &.lg-heading {
    font-size: 6rem;
  
  }

  &.sm-heading {
    font-size: 2.5rem;
  }
}
 
  }

@media (max-width: 480px) {

  #intro {
    padding: 4rem 1rem;
    .icons {
      margin-left: 25%;
    }
    i{
      font-size: 1.6rem
    }
    
  }
  h1,
h2,
h3 {

  text-align: center;
  justify-content: center;
  align-items: center;
  &.lg-heading {
    font-size: 3.3rem;
  
  }

  &.sm-heading {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    padding: 0.2rem 1rem;
  }
}     
  }


@media (max-width:320px){
  #intro {
    padding: 6rem 0;

    .icons {
      margin-left: 25%;
    }
    i {
      font-size: 1.3rem;
    }
  }
 h1, h2, h3 {
   &.lg-heading {
     font-size: 3rem;
   }
   &.sm-heading {
     font-size: 1rem;
    // margin-left: -5%;

   }
 }
}