@import 'colors';
@import 'utilities';
@import 'back-anim';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #092532;
  color: #333;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

nav {
  position: fixed;
  width: 100vw;
  height:3.8rem;
  background-color:darken($color: #ccc, $amount: 70);
  border-bottom: $primary-color solid 1.8px;
  color: white;
  font-family: sans-serif;
  align-items: center;
  z-index: 1;
  padding-top: 0.4rem 1rem;
  margin-top: -7px;

  #menu-bars {
    display:none;
  }
  h1 {
    font-size: 3rem;
    color: $primary-color;
  }
  a {
    color:$primary-color;
    text-decoration: none;
    font-size:1.4rem;
    padding: 0.5rem 3rem;

    &:hover {
      animation: slidein .4s forwards linear;
      transition: all 5s;

      @keyframes slidein {
        0% {

        }
        50% {
          color:darken($color: #ccc, $amount: 40);;
          background-color: darken($color:$primary-color, $amount: 10)

        }

        100% {
          text-decoration: underline;
          background-color: darken($color: #ccc, $amount: 90);

        }
      }
    }
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    margin-left: auto;
    align-items: center;
    text-align: center;
  }
}
 
.container {
  display: grid;
  grid-template-columns: 100vw;
  grid-auto-rows: repeat(4, 2fr);
  grid-template-areas: 'header' 'about' 'projects' 'contacts';
  width: 100vw;
  height: inherit;

  #header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    padding: 0px;
    font-size: 63px;
    font-family: 'Alegreya';
    align-items: center;
    background: repeating-linear-gradient(to bottom, rgb(48, 47, 47), #333);
    .avatar {
      grid-area: avatar;

      img {
        position: relative;
        width: 50%;
        height: 450px;
        margin-top:15%;
        left: 15%;
        border-radius: 50%;
      }
    }

    #intro {
      grid-area: intro;
      position: relative;
      top: 5%;
      right: 13%;
      color: $danger-color;
      // text-align: center;
      font-family: 'Yeseva One', cursive;
      font-weight: 300;
      letter-spacing: 10px;
      margin-top: 0px;
      padding-left: 10px;
    }
    .name {
      font-size: 90px;
    }
    .job-title {
      font-size: 26px;
    }

    .githublink {
      color: whitesmoke;
      font-size: 40px;
      margin-left: 25%;
      &:hover {
        color: $dark-color;
        background-color: white;
        transition-timing-function: ease-in-out;
      }
    }
    .linkedinlink {
      color: whitesmoke;
      font-size: 40px;
      &:hover {
        color: $primary-color;
        background-color: white;
        transition-timing-function: ease-in-out;
      }
    }
  }
  #about {
    grid-area: about;
    background-color: transparent;
    height: 100%;
    width: 100%;

    .umuzilink {
      color: white;
    }
  }
  h1 {
    color: $danger-color;
    font-size: 640%;
    margin: 3.6% 2%;
    font-family: 'yeseva one';
    position: absolute;
  }
  .innerDiv {
    background: linear-gradient(to bottom left, black, $dark-color, black,$dark-color);
    background-repeat:repeat;
    border: rgb(107, 105, 104) double;
    border-radius: 2%;
    margin: 12% 10%;
    height: auto;
    width: 80vw;
    color: snow;
    font-style: italic;
    font-size: 200%;
    font-family: 'roboto';
    padding: 1rem 3rem;
    box-shadow: 0 1px 6px #fa1616, 0 1px 4px #2f2519;
  }
  h3 {
    color: #ff5200;
    font-size: 145%;
    margin: 0 1rem;
    font-family: 'Girassol';
  }

  .tech_skills {
    list-style: square;
    columns: 3;
    margin-left: 10%;
  }
  #projects {
    grid-area: projects;
    height: 100%;
    width: 100%;
  }
  #projects h3 {
    text-align: center;
  }

  .image {
    width: 50%;
    position: relative;
    margin: 0 25%;

    &:hover {
     opacity: .7;
     position: relative;
     background-color: rgb(27, 1, 1);
    }
  }
  .listofprojects {
    padding: 1rem 1.5rem;
  }

  .work {
    grid-area: work;
    list-style: none;
    margin: 0.3rem 1.5rem;
  }
  hr {
    size: 5px;
    margin: 2rem 0;
  }
  .tech_used {
    grid-area: tech;
    margin-left: 3rem;
    // background: black;

    h4 {
      color: $primary-color;
      text-decoration: underline;
      text-align: center;
      text-transform: uppercase;
      font-size: 120%;
    }
    ol {
      margin-left:auto;
      columns: 3;
      // text-align: center;
      list-style: disc;
    }
  }
}

.footer {
  background-color: black;
  right: 0;
  padding: 0.4rem;
  height: 100%;
  line-height: 1.3;
  position: relative;
  margin-top: 5%;
  letter-spacing: 2px;
  text-align: center;
  ol {
    display: inline;
    list-style: none;
    margin-left: 25%;
    justify-content: space-between;
  }
  li {
    margin: 2rem 4rem;
    font-family: 'chewy';
    font-size: 200%;

    a {
      vertical-align: middle;
      color: whitesmoke;
      font-size: 100%;
      font-weight: bold;
      &:hover {
        background: $danger-color;
      }
    }
  }
}

@import 'mobile';
