@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    box-sizing: border-box;
    vertical-align: baseline;
}
body {
    width: 100vw;
    background-color: black;
}

.container{
    display: grid;
    grid-template-columns: 100% ;
    grid-auto-rows:10% repeat(4,2fr) 15%;
    grid-template-areas: "navbar" "header" "aboutme" "mywork" "contacts" "footer";
    width: 100vw;
}

nav {
    grid-area: navbar;
   height: 50px;
   width: 100vw;
   background: #333333;
   position: fixed;
   /* align-items: center;
   justify-content: center; */
}

#logo {
    font-size: 30px;
    line-height: 50px;
    /* margin: ; */
}

nav ul {
   align-items: center;
   justify-content: center;
   text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 50px;
}

nav a {
    color: ivory;
    font-size: 24px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 3px;
}


nav #menu-icon {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.navbar button{
    padding:0.2rem 1.7rem;
    color: whitesmoke;
    background: #1b3252;
    border: grey thin;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Girassol';
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    transition: all 500ms  cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}


.navbar button:hover{
    border: whitesmoke solid;
    background: #4f71a1;
}


#header {
    grid-area: header;
    background: url('../images/rsz_2mylogo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    font-size: 68px;
    font-family: 'Alegreya';
}

.intro { 
    background-color: #333333;
    position: inherit;
    margin-top: 15%;
    margin-left: 4%;
    width: 48%;
    height: auto;
    padding: 5% 3% 5% 3%;
    text-align: center;
} 
.intros {
    line-height: inherit;
    font-weight: bold;
}
.greetings {
    color: #ff0000;
}
.am {
    color: #ff5200;
}
.name {
    color: #ff0000;
}
.jobtitle{
    color: #ff5200;
    font-size: 50px;
    text-align: center;
    margin: 16% 0% 4% 0%;
   
}

#aboutme{
    grid-area: aboutme;
    background-color:transparent;
    height: inherit
    
}
h1 {
    color: #ff5200;
    font-size: 750%;
    margin: 5% 0% 0% 7%;
    font-family: 'yeseva one';
}
.innerDiv {
   
    background-color: black;
    background-repeat: repeat;
    border: rgb(107, 105, 104) double;
    border-radius: 2% ;
    margin: 1% 5% 3% 12%;
    height: inherit;
    width: 80vw;
    color: snow;
    font-style: italic;
    font-size: 200%;
    font-family: 'roboto';
    padding: 2%;
    box-shadow: 0 1px 6px rgba(250, 249, 249, 0.12), 0 1px 4px rgba(255, 255, 255, 0.24);
}
h3 {
    color: #ff5200;
    font-size: 145%;
    margin: 3% 0% 1% 1%;
    font-family: 'Girassol';
}
.languages {
    list-style: square;
    columns: 3;
    margin-left: 14%;
}
.tech_skills {
    list-style: square;
    columns: 4;
    margin-left: 10%;
  }

  
#mywork {
    grid-area: mywork;
    background: transparent;
    height: inherit;

}
#mywork h3 {
    text-align: center;
} 
.memorygame {
    height: 300px;
}
.visitorform {
    height: 240px
}
.image:hover{
    opacity: 0.6 ;
  
}
.listofmywork {
    list-style: square;
    columns: 2;
    margin: 4% 0% 0% 14%; 

}

.work {
   display: inline;
}
.tech_used {
    display: block;
}
#contacts{
    grid-area: contacts;
    background: transparent;
    height: 100vh;

    
}
.contacticon {
    width: 7%;
    height: 7%;
    vertical-align: middle;
    margin: 1%;
  }
  
 
  #contacts li {
    display: block;
    margin-bottom: 10%;
    margin-right: 0%;
  }
  .contactbtn,.cellphonebtn {
    background-color: black;;
    border-left: white solid;
    border-right: white solid;
    border-top: wheat double;
    border-bottom: whitesmoke dotted;
    vertical-align: middle;
    color: whitesmoke;
    font-size: 100%;
    font-weight: bold;
    font-family: 'chewy';
    padding: 2%;
    width: auto
  }
  .contactbtn {
      text-decoration: underline;
  }
   
  .contactbtn:hover {
    background-color: #333333;
    color: #ff5200;
    transition-delay: .20ms;
    text-decoration-style: double;
    opacity: 0.8;
  }
  
  .contactlist {
    list-style: disc;
    text-align: center;
    columns: 2;
  }

.footer {
    grid-area: footer;
    background-color: rgb(0, 0, 0);
    font-size: 100%;
    color: white;
    width: 100vw;
    height: 70px;
    vertical-align: middle;
    text-align: center;
    font-size: 200%;
    padding: 1%;
}


@media only screen and (max-width: 1048px) {


.intro {
    font-size: 100%;
    margin-top: 20%;
}
.jobtitle {
    font-size:50%;
}

nav ul {
    margin-right:20px;
}

nav a {
    font-size: 17px;
}

.navbar button{
    padding:0.14rem 0.6rem;
    letter-spacing: 0.4rem;
   
}
h1 {
    font-size: 500%;
    margin-left: 5%;
}
.innerDiv {
    font-size: 300%;
    margin-left: 8%;
}
.languages {
    columns: 1;
}
.tech_skills {
    columns: 1;
}
.image {
    height: 100px
}
.memorygame {
    height: 160px;
}
.image:active {
    height: 100vh;
}
.listofmywork {
    columns: 1;
}
.work {
    display: block;
    margin: 0 0 10px 0;
}
.contactlist {
    columns: 1;
}
.contactbtn,.cellphonebtn {
    
    font-size: 100%;
}

.footer {
    font-size: 20px;
}
}


@media only screen and (max-width: 909px) {
    nav #menu-icon {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav a {
        font-size: 20px;
        text-decoration: none;
    }

    a:hover {
        border: none;
        color: #3498db;
    }

    nav ul.show {
        left:0;
    }
    .intro {
        font-size: 70%;
        width: 56%;
        margin-top: 35%;
    }
    h1 {
        font-size: 300%;
        margin:  11% 0 0 4%;
    }

    .innerDiv {
        font-size: 150%;
    }
    .visitorform {
        height: 180px;
    }

}

@media only screen and (max-width: 450px) {
    .intro {
        font-size: 56%;
        margin-top: 70%;
    }
    .jobtitle {
        font-size:50%;
    }
    h1 {
        font-size: 250%;
        margin: 22% 0 0 4%;
    }

    .innerDiv {
        font-size: 100%;
    }
    .visitorform {
        height: 130px;
    }
    
    
}
